# Thông tin chung

**Mục tiêu**

- Giới thiệu về phân lớp dữ liệu.
- Giới thiệu hai thuật toán phân lớp Random Forest và KNN.

**Kết quả đạt được**

Sinh viên sau khi thực hành sẽ:
- Nắm vững được hai thuật toán phân lớp dữ liệu.
- Cài đặt được các ví dụ thực hành

**Thời gian thực hành:** 3 tiết

**Công cụ thực hành:** Google Colab, Anaconda

# Nội dung lý thuyết

# Nội dung thực hành

## Mô tả bài toán

Cho dữ liệu hoa Iris gồm 4 thuộc tính sau:

- sepal_length: chiều dài đài hoa (cm)
- sepal_width: chiều rộng đài hoa (cm)
- petal_length: chiều dài cánh hoa (cm)
- petal_width: chiều rộng cánh hoa (cm)
- species: loại/lớp hoa

Quan sát ta thấy có ba loại hoa Iris là:  setosa, versicolour và viginica.

In [18]:
import pandas as pd

iris = pd.read_csv('iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [19]:
features = iris.columns.to_list()
features

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [20]:
targets = iris['species'].unique().tolist()
targets

['setosa', 'versicolor', 'virginica']

In [21]:
def transform_species(iris):
    species_mapping = { "setosa": 0, "versicolor": 1, "virginica": 2 }
    iris['species'] = iris['species'].map(species_mapping)

transform_species(iris)

In [5]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

### Random Forest

In [26]:
#X = data[[ 'sepal_length', 'sepal_width', 'petal_length', 'petal_width' ]]
X = data.iloc[:, [0, 1, 2, 3]].values
y = iris[[ 'species' ]]

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [8]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators = 10)

#clf.fit(X_train ,y_train)
# Sử dụng y_train.values.ravel() để sửa lỗi
# A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
clf.fit(X_train, y_train.values.ravel())

y_pred = clf.predict(X_test)

In [9]:
from sklearn import metrics

print("Accuracy:", 100 * metrics.accuracy_score(y_test, y_pred))

Accuracy: 95.55555555555556

In [10]:
clf.predict([[3, 5, 4, 2]])

array([1], dtype=int64)

In [11]:
features_importance = pd.DataFrame()
features_importance['features'] = [ 'sepal_length', 'sepal_width', 'petal_length', 'petal_width' ]
features_importance['importances'] = clf.feature_importances_
features_importance.sort_values(by = ['importances'], ascending = True, inplace = True)
features_importance.set_index('features', inplace = True)
features_importance

              importances
features
sepal_width      0.040041
sepal_length     0.158229
petal_width      0.359440
petal_length     0.442291

In [12]:
features_importance.plot(kind = 'bar')

- Biểu đồ cho thấy thuộc tính sepal_width  ít quan trọng. Ta có thể loại bỏ thuộc tính này.

In [13]:
#X = iris[[ 'sepal_length', 'sepal_width', 'petal_length', 'petal_width' ]]
import numpy as np

# Xóa cột 1 (thuộc tính sepal_width) của X_train, X_test
X_train1 = np.array(X_train)
X_train1 = np.delete(X_train1, 1, axis = 1)

X_test1 = np.array(X_test)
X_test1 = np.delete(X_test1, 1, axis = 1)

- Chạy lại thuật toán Random Forest với X_train1 và X_test1.

In [14]:
clf = RandomForestClassifier(n_estimators = 10)

clf.fit(X_train1, y_train.values.ravel())

y_pred = clf.predict(X_test1)

In [15]:
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9555555555555556

## K-nearest neighbors

- Thuật toán K-láng giềng gần nhất (KNN)

In [16]:
from sklearn import neighbors as knn

clf = knn.KNeighborsClassifier(n_neighbors = 10, p = 2) # n_neighbors: số điểm lân cận
clf.fit(X_train, y_train.values.ravel())
y_pred = clf.predict(X_test)

In [17]:
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9777777777777777

# Bài tập

Sinh viên cài đặt thêm các thuật toán phân lớp đã học.